<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:spring="http://xmlns.jcp.org/xml/ns/javaee">
<head>
    <title>Выписки</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <link rel="stylesheet" href="css/menu_style.css">
    <link rel="stylesheet" href="css/input-style.css">

    <script src="js/menu.js"></script>
</head>

<body>
<nav role="navigation" class="navbar navbar-default">

    <div id="w">
        <ul id="ddmenu">
            <a href="index"><img th:src="@{../ordering/img/img.png}" alt="logo" height="70"/></a>
            <li><a href="logout">Выход</a></li>
            <li><a href="#">Отчеты</a>
                <ul>
                    <li><a href="report_01x_sum_get">Сравнительный анализ по 01х</a></li>
                </ul>
            </li>
            <li><a href="#">Выписки</a>
                <ul>
                    <li><a href="find_by_acc_debet_credet_get">По дебету и кредиту</a></li>
                    <li><a href="deal_report_get">По договору</a></li>
                </ul>
            </li>
            <li><a href="index">Главная</a></li>
        </ul>
    </div>
</nav>

<form name="form" class="form-inline" action="#"
      th:action="@{/deal_report_post}"
      th:object="${dealsView}"
      th:method="post">

    <p align="center" ><input type="search" class="form-control mr-sm-2" placeholder="ID Договора"
                             name="treatyId" required/>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Сформировать</button>
    </p>
</form>

<table style="width: 260px; height: 50px; font-size: 15px">
    <tr>
        <th style="color: grey"> ИД Договора:</th>
        <td th:text="${treatyId}"/>
        </td>
    </tr>
    <tr>
        <th style="color: grey"> Реф Договора:</th>
        <td th:text="${eosDlr}"/>
        </td>
    </tr>
</table>

<table class="table table-striped table-bordered" style="font-size: 14px">
    <thead th:bgcolor="lightgreen">
    <tr th:charset="windows-1251">
        <th> Дата открытия счета</th>
        <th> Тип</th>
        <th> Счет</th>
        <th> IBAN</th>
        <th> Имя</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="deal : ${dealsPost}">
        <td><span th:text="${deal.openAcc}">openAcc</span></td>
        <td><span th:text="${deal.kind}">kind</span></td>
        <td><a th:href="${'account_info/'+deal.moniker}" th:text="${deal.moniker}">moniker</a></td>
        <td><span th:text="${deal.iban}">iban</span></td>
        <td><span th:text="${deal.name}">name</span></td>
    </tr>
    </tbody>
</table>
</body>
</html>



