<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:spring="http://xmlns.jcp.org/xml/ns/javaee">
<!--<head>-->
<!--    <title>Getting Started: Handling Form Submission</title>-->
<!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>-->

<!--    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">-->

<!--    &lt;!&ndash;    &lt;!&ndash; Optional theme &ndash;&gt;&ndash;&gt;-->
<!--    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">-->
<!--    &lt;!&ndash;    <link rel="stylesheet" href="../styles/style.css" >&ndash;&gt;-->
<!--</head>-->

<!--<nav role="navigation" class="navbar navbar-default">-->

<!--    &lt;!&ndash; Toggle menu for mobile display &ndash;&gt;-->
<!--    <div class="navbar-header">-->
<!--        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">-->
<!--            <span class="sr-only">Toggle navigation</span>-->
<!--            <span class="icon-bar"></span>-->
<!--            <span class="icon-bar"></span>-->
<!--            <span class="icon-bar"></span>-->
<!--        </button>-->
<!--    </div>-->

<!--    &lt;!&ndash; default menu &ndash;&gt;-->
<!--    <div id="navbarCollapse" class="collapse navbar-collapse">-->
<!--        <ul class="nav navbar-nav">-->
<!--            <li class="active"><a href="index">Home</a></li>-->
<!--            <li><a href="find_by_acc_get">Выписки</a></li>-->
<!--            <li><a href="inputBalanceReport">Отчёт по балансу</a></li>-->
<!--        </ul>-->
<!--    </div>-->
<!--</nav>-->

<!--<body>-->
<!--&lt;!&ndash;<p><h1 align="center">&copy; ODB Team </h1></p>&ndash;&gt;-->

<!--<table class="table table-striped table-bordered">-->
<!--    <thead th:bgcolor="deepskyblue">-->
<!--    <tr th:charset="windows-1251">-->
<!--        <th> Референс проводки</th>-->
<!--        <th> Дата ОДБ</th>-->

<!--        <th> Дебет</th>-->
<!--        <th> Наименование дебет</th>-->
<!--        <th> ОКПО дебет</th>-->
<!--        <th> МФО дебет</th>-->

<!--        <th> Кредит</th>-->
<!--        <th> Наименование кредет</th>-->
<!--        <th> ОКПО кредет</th>-->
<!--        <th> МФО кредет</th>-->

<!--        <th> Описание платежа</th>-->
<!--        <th> Сумма</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:if="${findByDtView.empty}">-->
<!--        <td colspan="2"> Счет не найден</td>-->
<!--    </tr>-->
<!--    <tr th:each="ordering : ${findByDtView}">-->
<!--        <td><span th:text="${ordering.bplRef}"> bplRef </span></td>-->
<!--        <td><span th:text="${ordering.dateOdb}"> dateOdb </span></td>-->

<!--        <td><span th:text="${ordering.dAcc}"> dAcc </span></td>-->
<!--        <td><span th:text="${ordering.dName}"> dName </span></td>-->
<!--        <td><span th:text="${ordering.dOkpo}"> dOkpo </span></td>-->
<!--        <td><span th:text="${ordering.dMfo}"> dMfo </span></td>-->

<!--        <td><span th:text="${ordering.cAcc}"> cAcc </span></td>-->
<!--        <td><span th:text="${ordering.cName}"> cName </span></td>-->
<!--        <td><span th:text="${ordering.cOkpo}"> cOkpo </span></td>-->
<!--        <td><span th:text="${ordering.cMfo}"> cMfo </span></td>-->

<!--        <td><span th:text="${ordering.osnd}"> osnd </span></td>-->
<!--        <td><span th:text="${ordering.bpl_sum}"> bpl_sum </span></td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->

<!--</body>-->

</html>