<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Выписки</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!--    &lt;!&ndash; Optional theme &ndash;&gt;-->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <link rel="stylesheet" href="css/menu_style.css">
    <link rel="stylesheet" href="css/input-style.css">
    <script src="js/validation.js"></script>
    <script src="js/menu.js"></script>
</head>

<body>

<nav role="navigation" class="navbar navbar-default">

    <div id="w">
        <ul id="ddmenu">
            <a href="index"><img th:src="@{../ordering/img/img.png}" alt="logo" height="70"/></a>
            <li><a href="logout">Выход</a></li>
            <li><a href="#">Отчеты</a>
                <ul>
                    <li><a href="report_01x_sum_get">Сравнительный анализ по 01х</a></li>
                </ul>
            </li>
            <li><a href="deal_report_get">Выписки</a>
                <ul>
                    <li><a href="find_by_acc_debet_credet_get">По дебету и кредиту</a></li>
                    <li><a href="deal_report_get">По договору</a></li>
                </ul>
            </li>

            <li><a href="index">Главная</a></li>
        </ul>
    </div>
</nav>

<form name="form" onsubmit="return validate()" class="form-inline" action="#"
      th:action="@{/find_by_acc_debet_credet_post}" th:object="${ordering}"
      method="post">
    <p id="dt" style="color: crimson;"></p>
    <p>Счет дебет: <input class="form-control mr-sm-2" type="search" placeholder="счет ДТ"
                          aria-label="Search" name="dAcc" th:field="*{dAcc}"/>
        Счет кредет: <input class="form-control mr-sm-2" type="search" placeholder="счет КТ"
                            aria-label="Search" name="cAcc" th:field="*{cAcc}"/>
        <!-- Дата -->
        Период: <input class="form-control mr-sm-2" type="date" placeholder="от"
                       aria-label="Search" name="dateForm" th:field="*{dateFrom}"/>
        <input class="form-control mr-sm-2" type="date" placeholder="до"
               aria-label="Search" name="dateTo" th:field="*{dateTo}"/>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
        <a href="/ordering/export_to_xls_dt?type=xls" align = "right">
            <button class="btn btn-outline-success my-2 my-sm-0" type="button" style=" background-image: url('img/excel2.png');
                background-color: white;
                width:48px;
                height:48px;
                display:inline-block;"></button>
        </a>
    </p>
</form>

    <table style="font-size: 14px">

        <tr style="border-bottom: 1px solid grey;">
            <th style="color: grey"> Количество:</th>
            <td th:text="${count}"/>
            </td>
        </tr>
        <tr style="border-bottom: 1px solid grey;">
            <th style="color: grey"> Баланс на начало периода:</th>
            <td th:text="${beginOnv}"/>
            </td>
        </tr>
        <tr style="border-bottom: 1px solid grey;">
            <th style="color: grey"> Обороты ДТ:</th>
            <td th:text="${obd}"/>
            </td>
        </tr>
        <tr style="border-bottom: 1px solid grey;">
            <th style="color: grey"> Обороты КТ:</th>
            <td th:text="${obk}"/>
            </td>
        </tr>
        <tr style="border-bottom: 1px solid grey;">
            <th style="color: grey"> Общая сумма оборотов:</th>
            <td th:text="${sum}"/>
            </td>
        </tr>
        <tr style="border-bottom: 1px solid grey;">
            <th style="color: grey"> Баланс на конец периода:</th>
            <td th:text="${endOnv}"/>
            </td>
        </tr>
    </table>


<table class="table table-striped table-bordered" style="font-size: 14px">
    <thead th:bgcolor="lightgreen">
    <tr th:charset="windows-1251">
        <th> Референс проводки</th>
        <th> Дата ОДБ</th>

        <th> Дебет</th>
        <th> Наименование дебет</th>
        <th> ОКПО дебет</th>
        <th> МФО дебет</th>

        <th> Кредит</th>
        <th> Наименование кредет</th>
        <th> ОКПО кредет</th>
        <th> МФО кредет</th>

        <th> Валюта</th>
        <th> Описание платежа</th>
        <th> Сумма</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${findByAccView.empty}">
        <td colspan="2"> Счет не найден</td>
    </tr>
    <tr th:each="ordering : ${findByAccView}">
        <td><span th:text="${ordering.bplRef}"> bplRef </span></td>
        <td><span th:text="${ordering.dateOdb}"> dateOdb </span></td>

        <td><a th:href="${'account_info/'+ordering.dAcc}" th:text="${ordering.dAcc}"> dAcc </a></td>
        <td><span th:text="${ordering.dName}"> dName </span></td>
        <td><span th:text="${ordering.dOkpo}"> dOkpo </span></td>
        <td><span th:text="${ordering.dMfo}"> dMfo </span></td>

        <td><span th:text="${ordering.cAcc}"> cAcc </span></td>
        <td><span th:text="${ordering.cName}"> cName </span></td>
        <td><span th:text="${ordering.cOkpo}"> cOkpo </span></td>
        <td><span th:text="${ordering.cMfo}"> cMfo </span></td>

        <td><span th:text="${ordering.ccy}"> osnd </span></td>
        <td><span th:text="${ordering.osnd}"> osnd </span></td>
        <td><span th:text="${ordering.bpl_sum}"> bpl_sum </span></td>

    </tr>
    </tbody>
</table>
</body>
</html>