<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:spring="http://xmlns.jcp.org/xml/ns/javaee">
<head>
    <title>Выписки</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <link rel="stylesheet" href="css/menu_style.css">
    <link rel="stylesheet" href="css/input-style.css">

    <script src="js/menu.js"></script>
</head>


<body>

<nav role="navigation" class="navbar navbar-default">

    <div id="w">
        <ul id="ddmenu">
            <a href="index"><img th:src="@{../ordering/img/img.png}" alt="logo" height="70"/></a>
            <li><a href="logout">Выход</a></li>
            <li><a href="#">Отчеты</a>
                <ul>
                    <li><a href="report_01x_sum_get">Сравнительный анализ по 01х</a></li>
                </ul>
            </li>
            <li><a href="#">Выписки</a>
                <ul>
                    <li><a href="find_by_acc_debet_credet_get">По дебету и кредиту</a></li>
                    <li><a href="deal_report_get">По договору</a></li>
                </ul>
            </li>

            <li><a href="index">Главная</a></li>
        </ul>
    </div>
</nav>
<h1>Отчет в разработке </h1>

<a href="/ordering/report_to_excel?type_rep=xls">
    <button class="btn btn-outline-success my-2 my-sm-0" type="button" style=" background-image: url('img/excel2.png');
                background-color: white;
                width:48px;
                height:48px;
                display:inline-block;"></button>
</a>
<table class="table table-striped table-bordered" style="font-size: 14px">
    <thead th:bgcolor="lightgreen">
    <tr th:charset="windows-1251">
        <th> id</th>
        <th> Наименование отчета</th>
        <th> Сумма всего, млн.грн любой цифровой код</th>
        <th> к-во счетов всего</th>
        <th> Просрочка, млн. грн. </th>
        <th> Просрочка к-во счетов </th>
        <th> Сумма всего, млн.грн. </th>
        <th> к-во счетов всего</th>
        <th> Просрочка, млн. грн. </th>
        <th> Просрочка к-во счетов </th>
        <th> Разница сумма  по начисленным счетам</th>
        <th> Разница количество счетов по начисленным счетам</th>
        <th> Разница сумма по просроченным счетам</th>
        <th> Разница по количеству по просроченным счетам ( c первым знаком Z)</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="report : ${report_01_sum_view}">
        <td style="background-color: azure"><span th:text="${report.id}"> id </span></td>
        <td style="background-color: azure; color: grey"><span th:text="${report.nameReport}"> nameReport </span></td>
        <td><span th:text="${report.sumPrev}"> sumPrev </span></td>
        <td><span th:text="${report.countPrev}"> countPrev </span></td>
        <td><span th:text="${report.prosSumPrev}"> prosSumPrev </span></td>
        <td><span th:text="${report.prosCountPrev}"> prosCountPrev </span></td>
        <td><span th:text="${report.sumCurent}"> sumCurent </span></td>
        <td><span th:text="${report.countCurent}"> countCurent </span></td>
        <td><span th:text="${report.prosSumCurent}"> prosSumCurent </span></td>
        <td><span th:text="${report.prosCountCurent}"> prosCountCurent </span></td>
        <td><span th:text="${report.diffSumAcc}"> diffSumAcc </span></td>
        <td><span th:text="${report.diffCountAcc}"> diffCountAcc </span></td>
        <td><span th:text="${report.diffSumPros}"> diffSumPros </span></td>
        <td><span th:text="${report.diffCountPros}"> diffCountPros </span></td>
      </tr>
    </tbody>
</table>

</body>
</html>